html{
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  background: #0d1117;
  color: #c9d1d9;
  line-height: 1.6;

}

h1, h2, h3 {
  color: #fff;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: auto;
}

/* Header Section */
.header {
  text-align: center;
  padding: 40px 20px;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  border: 3px solid #30363d;
  margin-bottom: 0px;
}

.highlight {
  color: #58a6ff;
}

.subtitle {
  margin-top: -10px;
  color: #8b949e;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-bottom: 5px;
}

.social-links .icon {
  color: #c9d1d9;
  transition: 0.3s ease;
}

.social-links .icon:hover {
  color: #58a6ff;
  transform: scale(1.12);
}


/* Navigation */
.nav a {
  position: relative;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.05rem;
  color: #58a6ff;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #58a6ff;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #1a73e8, #58a6ff);
}

/* Divider */
.divider {
  border: 0;
  height: 1px;
  background: #21262d;
  margin: 30px 0;
  margin-top: 10px;
}

/* Sections */
section {
  margin-bottom: 40px;
}

ul li {
  margin: 8px 0;
}

.badges span {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  background: #21262d;
  border: 1px solid #30363d;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background .5s;
}

.badges span:hover {
  background: #30363d;
}

/* Project Article */
article {
  margin-bottom: 25px;
}

#projects a {
  position: relative;
  color: #58a6ff;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  margin-right: 8px;
  transition: color 0.3s ease;
}

#projects a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #58a6ff;
  transition: width 0.3s ease;
}

#projects a:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #1a73e8, #58a6ff);
}


/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background: #161b22;
  border: 1px solid #30363d;
  color: #fff;
}

button {
  padding: 10px;
  border: none;
  background: #238636;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  border-top: 1px solid #21262d;
  color: #8b949e;
}
